<h1>Fitcheck!</h1>

<a href="/auth/fitbit">Log in with Fitbit</a>

<form class="" action="/register" method="post">

    <label for="email">
      <input id="email" type="email" name="email" value="" required='required'>email
    </label>

    <label for="password">
      <input id="password" type="password" name="password" value="" required='required'>password
    </label>

    <input type="submit" name="name" value="LOGIN!">

  </form>

<p>
  Not a member?<a href='/register'> Register Here to become fitter!</a>
</p>
