<h1>Fitcheck!</h1>



{{#if user}}
      <p>
        Hello {{user.displayName}}
        |
        <a href="/auth/fitbit">Logout</a>
      </p>
    {{else}}
      <p>
        <a href="/auth/fitbit">Login</a>
      </p>
    {{/if}}
