<h1>Welcome to Fitcheck!</h1>


<link rel='stylesheet' href='/stylesheets/style.css' />


{{#if user}}
      <p>
        Hello {{user.displayName}}
        |
        <a href="/auth/fitbit">Logout</a>
      </p>
    {{else}}
      <p>
        <a href="/auth/fitbit">Login with Fitbit</a>
      </p>
    {{/if}}

<a href="/stats">Go to stats</a>
