<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="sass/app.scss" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
