<script type="text/javascript" src='/javascripts/password.js'></script>


<form class="" action='/register' method="post" onsubmit="return checkForm(this);">
  <label for="email">
    <input id="email" type="text" name="email" value="">email
  </label>

  <label for="password">
    <input id="password" type="password" name="password" value="" required>Password
  </label>

  <label for="pwd2">
    <input id="pwd2" type="password" name="pwd2" value="" required>Confirm Password
  </label>


  <input type="submit" name="name" value="Register!" required>

</form>
