stats
{{#if user}}
      <p>
        Hello {{user.displayName}}
        
      </p>
  <!-- {{#each user}} -->
    <p>
      Age: {{user.age}}

    </p>
    <p>
      Daily Steps: {{user.averageDailySteps}}

    </p>
    <p>
      {{user.height}}

    </p>
  <!-- {{/each}} -->
{{/if}}
