@import 'app';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  background-image: url('http://static1.squarespace.com/static/543231b5e4b02583808af1e1/t/54329c52e4b02583808b5c3a/1412602963133/hand-balance-fitness-girl.jpg?format=2500w');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;

}

a {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  color: black;
}
p {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  color: black;

}
